@use "../util/" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.045rem;
  color: var(--white);
  background: var(--black);
}

h1,
h2,
h3 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 400;

  @include breakpoint-down(small) {
    font-size: 1.5rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.muted {
  color: var(--gray);
}

a.shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}