@use "../util/" as *;

.wrapper {
  padding: 0.5rem;
}

.nav {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 1rem;
  color: var(--gray);

  &__earth {
    grid-column: span 3;

    @include breakpoint-down(small) {
      grid-column: span 2;
    }
  }

  &__contact {
    grid-column: span 2;

    @include breakpoint-down(small) {
      grid-column: span 3;
    }
  }

  &__clock {
    grid-column: span 2;

    #date {
      @include breakpoint-down(small) {
        display: none;
      }
    }

    @include breakpoint-down(small) {
      grid-column: span 4;
    }
  }
}

.head {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 5rem;

  &__info {
    grid-column: span 7;
  }

  @include breakpoint-down(small) {
    display: block;
  }
}

.work {
  margin-bottom: 5rem;

  h1 {
    margin-bottom: 4rem;

    @include breakpoint-down(small) {
      margin-bottom: 1rem;
    }
  }

  &__headers {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(10, 1fr);
    color: var(--gray);

    div:first-child {
      grid-column: 1/2;
    }
    div:nth-child(2) {
      grid-column: 2/4;
    }
    div:nth-child(3) {
      grid-column: 4/6;
    }
    div:nth-child(4) {
      grid-column: 6/8;
    }
    div:last-child {
      grid-column: 8/11;
    }

    @include breakpoint-down(small) {
      display: none;
    }
  }

  &__table {
    li {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: repeat(10, 1fr);
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      border-top: 1px solid hsla(0, 0%, 100%, 0.1);

      div:first-child {
        grid-column: 1/2;
      }
      div:nth-child(2) {
        grid-column: 2/4;
      }
      div:nth-child(3) {
        grid-column: 4/6;
      }
      div:nth-child(4) {
        grid-column: 6/8;
      }
      div:last-child {
        grid-column: 8/11;
      }

      @include breakpoint-down(small) {
        display: block;

        div {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.contact {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 1rem;
  color: var(--gray);

  &__copyright{
    grid-column: span 3;

    @include breakpoint-down(small) {
      grid-column: span 10;
    }
  }

  &__contact {
    grid-column: span 2;

    @include breakpoint-down(small) {
      display: none;
    }
  }

  &__social {
    grid-column: span 2;

    @include breakpoint-down(small) {
      display: none;
    }
  }
}
